/* .bg-green {
    background: #EB1616 !important;
    border: 1px solid #EB1616 !important;
    color: #fff;
}

.nav.side-menu>li.current-page, .nav.side-menu>li.active {
    border-right: 5px solid #EB1616;
}

body{
    background-color: #ffffff;
}
.left_col, .site_title {
    background: #000000;
} */



 